In [3]:
import pandas as pd
import numpy as np
import arrow as ar

In [4]:
df = pd.read_csv("femme_radio_tele.csv")

In [6]:
df.isna().sum()

media_type                   0
channel_code                 0
channel_name                 0
is_public_channel            0
date                         0
week_day                     0
school_holiday_zones    636008
civil_holyday                0
hour                         0
male_duration                0
female_duration              0
music_duration               0
dtype: int64

On voit que les seuls valeurs nul sont celles des zones de vacances, en regardant le fichier nous voyant que en faites lorsque nous sommes pas en vacances la catégorie school_holidays_zones est vide

In [7]:
df = df.replace({None:"no_holiday"})

In [8]:
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [media_type, channel_code, channel_name, is_public_channel, date, week_day, school_holiday_zones, civil_holyday, hour, male_duration, female_duration, music_duration]
Index: []

In [9]:
df.drop(df[df.isnull().any(axis=1)].index,inplace=True)

In [10]:
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [media_type, channel_code, channel_name, is_public_channel, date, week_day, school_holiday_zones, civil_holyday, hour, male_duration, female_duration, music_duration]
Index: []

In [11]:
df.isna().sum()

media_type              0
channel_code            0
channel_name            0
is_public_channel       0
date                    0
week_day                0
school_holiday_zones    0
civil_holyday           0
hour                    0
male_duration           0
female_duration         0
music_duration          0
dtype: int64

création d'une colonne avec le pourcentage de temps de parole

In [12]:
column_h =df["male_duration"]
column_f =df["female_duration"]
column_m =df["music_duration"]
column_total = column_f+column_h+column_m
column_pct_h = column_h/column_total
column_pct_f = column_f/column_total
column_pct_m = column_m/column_total

In [13]:
df["male_percent"] = column_pct_h
df["female_percent"] = column_pct_f
df["music_percent"] = column_pct_m

In [14]:
df_radio = df.loc[df["media_type"] == "radio"]
df_tv = df.loc[df["media_type"] == "tv"]

In [15]:
df_radio.shape

(636822, 15)

In [16]:
df_tv.shape

(441979, 15)

In [17]:
df_radio.isna().sum()

media_type              0
channel_code            0
channel_name            0
is_public_channel       0
date                    0
week_day                0
school_holiday_zones    0
civil_holyday           0
hour                    0
male_duration           0
female_duration         0
music_duration          0
male_percent            0
female_percent          0
music_percent           0
dtype: int64

In [18]:
df_radio.isna().sum()

media_type              0
channel_code            0
channel_name            0
is_public_channel       0
date                    0
week_day                0
school_holiday_zones    0
civil_holyday           0
hour                    0
male_duration           0
female_duration         0
music_duration          0
male_percent            0
female_percent          0
music_percent           0
dtype: int64

In [22]:
df_tv.isna().sum()

media_type               0
channel_code             0
channel_name             0
is_public_channel        0
date                     0
week_day                 0
school_holiday_zones     0
civil_holyday            0
hour                     0
male_duration            0
female_duration          0
music_duration           0
male_percent            15
female_percent          15
music_percent           15
dtype: int64

In [32]:
df_tv[df_tv.isnull().any(axis=1)].index.values

array([ 669693,  669696,  706550,  706551,  727804,  727991,  856139,
        856140,  856141,  859922,  859923,  869102,  925403, 1018728,
       1018729], dtype=int64)

on voit que, ces 15 lignes la n'ont pas de valeur pour le temps de paroles hommes, femmes et music donc pour ne pas fausser et vu que nous avons assez de valeur nous avons préféré les enlevés du dataframe

In [35]:
df_tv.drop(df_tv[df_tv.isnull().any(axis=1)].index.values,axis=0)

,media_type,channel_code,channel_name,is_public_channel,date,week_day,school_holiday_zones,civil_holyday,hour,male_duration,female_duration,music_duration,male_percent,female_percent,music_percent
636822,tv,ART,ARTE,True,2010-01-01,Friday,ABC,True,12,829.06,371.28,2056.80,0.254536,0.113990,0.631474
636823,tv,ART,ARTE,True,2010-01-01,Friday,ABC,True,14,148.42,68.56,2993.40,0.046231,0.021356,0.932413
636824,tv,ART,ARTE,True,2010-01-01,Friday,ABC,True,18,1722.84,307.90,1238.96,0.526911,0.094168,0.378922
636825,tv,ART,ARTE,True,2010-01-01,Friday,ABC,True,21,2714.88,329.62,286.16,0.815118,0.098965,0.085917
636826,tv,ART,ARTE,True,2010-01-02,Saturday,ABC,False,11,1254.78,1243.14,1070.86,0.351599,0.348338,0.300063
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1078796,tv,W9,W9,False,2019-02-28,Thursday,AC,False,19,1196.22,664.72,1699.22,0.336002,0.186711,0.477288
1078797,tv,W9,W9,False,2019-02-28,Thursday,AC,False,20,1080.24,826.96,1608.76,0.307239,0.235202,0.457559
1078798,tv,W9,W9,False,2019-02-28,Thursday,AC,False,21,2267.32,752.80,530.50,0.638570,0.212019,0.149411
1078799,tv,W9,W9,False,2019-02-28,Thursday,AC,False,22,2251.10,953.06,383.64,0.627432,0.265639,0.106929
1078800,tv,W9,W9,False,2019-02-28,Thursday,AC,False,23,1499.14,1181.94,781.54,0.432950,0.341343,0.225708

In [36]:
df_tv["male_percent"][669693]

nan

In [37]:
print(len(df_radio["channel_name"].unique()))
print(df_radio["channel_name"].unique())

21
['Chérie FM' 'Europe 1' 'France Bleu' 'France Culture' 'France Info'
 'France Inter' 'France Musique' 'Fun Radio' 'MOUV' 'NRJ' 'Nostalgie'
 'RFI' 'RFM' 'RMC' 'RTL' 'RTL 2' 'Radio Classique' 'Rire et Chansons'
 'Skyrock' 'Sud Radio' 'Virgin Radio']

notre jeu de données possède 21 radio différentes

In [38]:
print(len(df_tv["channel_name"].unique()))
print(df_tv["channel_name"].unique())

34
['ARTE' 'Animaux' 'BFM TV' 'Canal+' 'Canal+ Sport' 'Chasse et pêche'
 'Chérie 25' 'Comédie+' 'D8/C8' 'Euronews' 'Eurosport France' 'France 2'
 'France 24' 'France 3' 'France 5' 'France O' 'Histoire' 'I-Télé/CNews'
 "L'Equipe 21" 'LCI' 'LCP/Public Sénat' 'La chaîne Météo' 'M6'
 'Monte Carlo TMC' 'NRJ 12' 'Paris Première' 'Planète+' 'TF1' 'TV Breizh'
 'TV5 Monde' "Toute l'Histoire" 'Téva' 'Voyage' 'W9']

notre jeu de données possède 21 chaine télé différentes

pour un soucis de géolocalisation nous créeons des colonnes one-hot-encoding pour pouvoir définir pour chaque heure du dataframe si il appartient à une zones de vacances comme ca nous pourrons définir le nombre d'heure ou les femmes on put parler  en fonction des zones de vacances

In [40]:
df["school_holiday_zones"].unique()

array(['ABC', 'no_holiday', 'B', 'AB', 'AC', 'C', 'BC', 'A'], dtype=object)

In [41]:
df["zone_A"] = False
df["zone_B"] = False
df["zone_C"] = False

In [53]:
df.loc[df.loc[df["school_holiday_zones"] == "ABC"].index,"zone_A"] = True
df.loc[df.loc[df["school_holiday_zones"] == "AC"].index,"zone_A"] = True
df.loc[df.loc[df["school_holiday_zones"] == "AB"].index,"zone_A"] = True
df.loc[df.loc[df["school_holiday_zones"] == "A"].index,"zone_A"] = True 

df.loc[df.loc[df["school_holiday_zones"] == "ABC"].index,"zone_B"] = True
df.loc[df.loc[df["school_holiday_zones"] == "BC"].index,"zone_B"] = True
df.loc[df.loc[df["school_holiday_zones"] == "AB"].index,"zone_B"] = True
df.loc[df.loc[df["school_holiday_zones"] == "B"].index,"zone_B"] = True 

df.loc[df.loc[df["school_holiday_zones"] == "ABC"].index,"zone_C"] = True
df.loc[df.loc[df["school_holiday_zones"] == "AC"].index,"zone_C"] = True
df.loc[df.loc[df["school_holiday_zones"] == "BC"].index,"zone_C"] = True
df.loc[df.loc[df["school_holiday_zones"] == "C"].index,"zone_C"] = True

In [54]:
df

,media_type,channel_code,channel_name,is_public_channel,date,week_day,school_holiday_zones,civil_holyday,hour,male_duration,female_duration,music_duration,male_percent,female_percent,music_percent,zone_A,zone_B,zone_C
0,radio,CHE,Chérie FM,False,2001-01-01,Monday,ABC,True,5,224.34,191.86,3180.34,0.062377,0.053346,0.884278,True,True,True
1,radio,CHE,Chérie FM,False,2001-01-01,Monday,ABC,True,11,160.68,137.90,3297.08,0.044687,0.038352,0.916961,True,True,True
2,radio,CHE,Chérie FM,False,2001-01-01,Monday,ABC,True,13,124.20,168.28,3303.96,0.034534,0.046791,0.918675,True,True,True
3,radio,CHE,Chérie FM,False,2001-01-01,Monday,ABC,True,18,251.20,185.58,3156.34,0.069911,0.051649,0.878440,True,True,True
4,radio,CHE,Chérie FM,False,2001-01-02,Tuesday,ABC,False,6,550.76,223.60,2818.50,0.153293,0.062235,0.784473,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1078796,tv,W9,W9,False,2019-02-28,Thursday,AC,False,19,1196.22,664.72,1699.22,0.336002,0.186711,0.477288,True,False,True
1078797,tv,W9,W9,False,2019-02-28,Thursday,AC,False,20,1080.24,826.96,1608.76,0.307239,0.235202,0.457559,True,False,True
1078798,tv,W9,W9,False,2019-02-28,Thursday,AC,False,21,2267.32,752.80,530.50,0.638570,0.212019,0.149411,True,False,True
1078799,tv,W9,W9,False,2019-02-28,Thursday,AC,False,22,2251.10,953.06,383.64,0.627432,0.265639,0.106929,True,False,True
1078800,tv,W9,W9,False,2019-02-28,Thursday,AC,False,23,1499.14,1181.94,781.54,0.432950,0.341343,0.225708,True,False,True

sauvegarde des fichiers modifié pour réduire le tempss du programme principale en chargeant que dataset modifié en plus de séparé la date en trois colonnes séparé pour une utilisation plus simple dans le fichier dashboard

In [ ]:

month = []
day = []
year = []

for element in df["date"]:
    month.append(ar.get(element).month)
    year.append(ar.get(element).year)
    day.append(ar.get(element).day)

df["month"] = month
df["day"] = day
df["year"] = year

df.to_csv("processed_data.csv")